:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.ts-header {
  background-color: #FFDC0F;
  padding: 10px 20px 5px;
  border-radius: 64px;
}

.ts-header-logo {
  width: 100px;
}

h1 {
  text-align: center;
  margin-top: 10vh;
  ;
}

.ts-zm-input-label {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #0f0f0f;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 500;
  height: 25vh;
  justify-content: center;
  margin-top: 25vh;
  padding: 0.6rem 1.2rem;
  transition: border-color 0.25s;
  width: 100%;
}

.ts-zm-input {
  display: none;
}

.ts-zm-entry {
  margin: 20px 0;
}